{% extends 'news/base.html' %}

{% load static %}
{% block title %}
  Foydalanuvchi parolini tiklash
{% endblock title %}
{% block content %}
  <h1> Parolni tiklash</h1>
  <p>Parolni tiklash uchun quyidagi formani to'ldiring</p>
  
  {% if validlink %}
    <p>Iltimos yangiparolni ikki marta kiriting</p>
    <form action="" method="post">{% csrf_token %}
        {{form.as_p}}
        <p><button type="submit">Parolni almashtirish</button></p>
      </form>
      <p><button type="submit">Parolni almashtirish</button></p>
  {% endif %}
    <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan</p>
 
{% endblock content %}
