{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}
{{news.title}}
{% endblock title %}

{% block content %}
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_page">
          
          <h1>{{news.title}}</h1>
          <div class="post_commentbox"> <a href="#"><i class="fa fa-user">

          </i> {% get_hit_count for news %} <i class="fa fa-comment"></i> {{comment_count}} </a> <span><i
                class="fa fa-calendar"></i>{{news.publish_time}}</span> <a href="#"><i
                class="fa fa-tags"></i>Texnalogiya</a> </div>
          <div class="single_page_content"> <img class="img-center" src="{{news.image.url}}" alt="">
            <p>{{news.body}}</p>
            {% if request.user.is_authenticated and request.user.is_superuser %}


            <div class="card-footer text-center">
              <a href="{% url 'news_update' news.slug %}">Tahrirlash</a> |
              <a href="{% url 'news_delete' news.slug %}">O'chirish</a>
            </div>
            {% endif %}
          </div>
          
          
        </div>
      </div>
    </div>
    <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>Reklama 1</h3>
          <img src="{% static 'images/post_img1.jpg' %}" alt="" />
        </div>
      </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Reklama 2</h3>
          <img src="{% static 'images/post_img1.jpg' %}" alt="" />
        </div>
      </a> 
    </nav>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <!-- ################################################################################################## -->
       
       
        
       
        
        <div class="single_sidebar">
          {% if user.is_authenticated %}
          <h2><span>Izoh qoldirish</span></h2>
          <div card-body>
            <form method="post" style="margin-top: 1.3em">{% csrf_token %}
              {{comment_form.as_p}}
              <button type="submit" class="btn btn-primary btn-lg">
                Yuborish
              </button>
            </form>
          </div>
        </div>
       {% endif %}

        
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Izohlar</span></h2>
          {% for comment in comments %}
          <div class="comment" style="padding: 10px;">
            <p class="font-weight-bold">
              {{comment.user}}
              <span class="text-muted font-weight-normal">
                {{comment.created_time}}
              </span>

            </p>
            {{comment.body | linebreaks}}
          </div>
          {% endfor %}
        </div>
        
      </aside>
    </div>
  </div>
</section>




{% endblock content %}